<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}">Title</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
	<link href="../../css/style.css"  th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/nav.css"  th:href="@{/css/nav.css}"  rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div class="banner-bg banner-sec">
	<div class="container">
		<div class="header">
			<div class="logo">
				<h1 style="color: #fff">Safe Safe</h1>
			</div>
			<div class="top-nav">

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--/banner-->
<div class="parts">
	<div class="container">
		<h2>Page</h2>
		<div class="bike-parts-sec">
			<div class="bike-parts acces">
				<div class="bike-apparels">
					<form action="upload" th:action="@{/addFileLoggedOn}" method="post" enctype="multipart/form-data">
						<input type="file" name="myFile"/>
						<div>
							<label> Email : <input type="text" name="email"/> </label>
							<input type="submit" value="Send" />
							<label th:text="${name}"></label>
						</div>
					</form>

				</div>
			</div>

			<div class="rsidebar span_1_of_left">
				<section  class="sky-form">
					<div class="product_right">
						<h3 class="m_2">Menu</h3>
							<li><a th:href="@{/}" href="home.html"> Home </a></li>
							<li><a th:href="@{/logout}" href="logout"> Logout </a></li>
					</div>
					</section>


			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!---->

<!---->
</body>
</html>
