<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />

	<link href="../../css/style.css"  th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/nav.css"  th:href="@{/css/nav.css}"  rel="stylesheet" type="text/css" media="all"/>

</head>
<body onload="document.f.username.focus();"  class="body-main">

<div class="banner-bg banner-bg1">
	<div class="container">
		<div class="header">
			<div class="logo">
				 <h1 style="color: #fff">Safe Safe</h1>
			</div>
			<div class="container wrap" style=" position: absolute;
    float:right; right: 0;">
				<p th:if="${param.logout}" class="alert custom-alert">You have been logged out</p>
				<p th:if="${param.error}" class="alert alert-error custom-alert">There was an error, please try again</p>
				<form name="form" th:action="@{/login}" action="/login" method="POST">
					<fieldset>
						<table><tr><td class=''>
							<input type="text" name="username" value="" placeholder="Username" class="cutom-form" /></td><td style="padding-right: 10px;  padding-left: 32px;">
							<input type="password" name="password" placeholder="Password" class="morebtn-psw" /></td><td><input type="submit" id="login" value="Login"
																																class="btn btn-primary" style=" margin-top: -25px;
   padding: 10px;
  margin-left: 28px;" /> </td></tr>
						</table>
					</fieldset>

				</form> </div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="caption">
		<div class="slider">
			<div class="callbacks_container">
				<div class="container">
					<label th:text="${name}" class="error-label-custom" style="  background-color: #fcff19;  max-width: 300px;  margin-right: auto;  margin-left: auto;  margin-top: 10px;  border-radius: 7px;"></label>

					<form action="upload" th:action="@{/addFile}" method="post" enctype="multipart/form-data">
						<input type="file" name="myFile" class="morebtn-file" style="min-width: 300px; margin-bottom: 10px;"/>
						<div>
							<label style="  max-width: 300px;  right: 0;  margin-right: auto;  margin-left: auto;"><div class="frontend-label"> Email : </div><input type="text" name="email" class="custom-input-form"/> </label>
							<input type="submit" value="Send" class="morebtn" />
						</div>
					</form>
				</div>

				<p>We send<span> your</span> files safe <span>and</span> easy <span>everywhere</span></p>

			</div>
		</div>




	</div>



</div>
</body>
</html>