<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />

	<link href="../../css/style.css"  th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/nav.css"  th:href="@{/css/nav.css}"  rel="stylesheet" type="text/css" media="all"/>

</head>
<body onload="document.f.username.focus();">

<div class="banner-bg banner-bg1">
	<div class="container">
		<div class="header">
			<div class="logo">
				 <h1 style="color: #fff">Safe Safe</h1>
			</div>
			<div class="top-nav">

				<ul class="nav">
					<li class="dropdown1"><a  th:href="@{/}" href="home.html">Home</a>

					</li>
					<li class="dropdown1"><a th:href="@{/logout}" href="logout">Logout</a>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="caption">
		<div class="slider">
			<div class="callbacks_container">
				<div class="container">

					<form action="upload" th:action="@{/addFile}" method="post" enctype="multipart/form-data">
						<input type="file" name="myFile" class="morebtn-file"/>
						<div>
							<label><div class="frontend-label"> Email : </div><input type="text" name="email"/> </label>
							<input type="submit" value="Send" class="morebtn" />
							<label th:text="${name}"></label>
						</div>
					</form>
				</div>

				<p>We send<span> your</span> files safe <span>and</span> easy <span>everywhere</span></p>

			</div>
		</div>




	</div>

	<div class="container wrap" style=" position: absolute;
    bottom: 5px;">
		<p th:if="${param.logout}" class="alert">You have been logged out</p>
		<p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
		<form name="form" th:action="@{/login}" action="/login" method="POST">
			<fieldset>
				<table><tr><td class=''>
					<input type="text" name="username" value="" placeholder="Username" class="cutom-form" /></td><td>
					<input type="password" name="password" placeholder="Password" class="morebtn-psw" /></td><td><input type="submit" id="login" value="Login"
																														class="btn btn-primary" style=" margin-top: -25px;
   padding: 10px;
  margin-left: 28px;" /> </td></tr>
				</table>
			</fieldset>

		</form> </div>

</div>
</body>
</html>