<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}">Title</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
	<link href="../../css/style.css"  th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/nav.css"  th:href="@{/css/nav.css}"  rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div class="banner-bg banner-sec">
	<div class="container">
		<div class="header">
			<div class="logo">
				<h1 style="color: #fff">Safe Safe</h1>
			</div>
			<div class="top-nav">

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--/banner-->
<div class="parts">
	<div class="container">
		<div class="bike-parts-sec">
			<div class="bike-parts acces">
				<div class="top">
					<ul>
						Page
					</ul>
				</div>
				<div class="bike-apparels">
				Current status: free user<br /><br />
					Get premium!<br />
					<ul>
						<li>Telephone protected system</li>
						<li>Share file with friends</li>
						<li>Extended file holding time</li>
						<li>... and more!</li>
					</ul><br /><br />
					<h3>Prices:</h3><br />
					<ul><li>
						1 month - 3&#8364;
					</li>
					<li>6 month - 15&#8364;</li>
					<li>1 year - 25&#8364;</li></ul>
				</div><br />
				<button class="morebtn"> GET PREMIUM</button>
			</div>

			<div class="rsidebar span_1_of_left">
				<section  class="sky-form">
					<div class="product_right">
						<h3 class="m_2">Menu</h3>
							<li><a th:href="@{/}" href="home.html"> Home </a></li>
							<li><a th:href="@{/payment}" href="logout"> Premium </a></li>

						<li><a th:href="@{/logout}" href="logout"> Logout </a></li>
					</div>
					</section>


			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!---->

<!---->
</body>
</html>
